<h1><%= @search_word.present? ? '検索結果' : 'ユーザー一覧' %></h1>

<table class="table table-condensed table-hover" id="table-users">
  <thead>
    <tr>
      <th><%= User.human_attribute_name :name %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="actions">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to '基本情報編集', edit_basic_info_user_path(user), data: { turbo_frame: 'modal' }, class: "btn btn-link" %>
            |
            <%= link_to "削除", user, data: { turbo_method: :delete, confirm: "削除してよろしいですか？" }, class: "btn btn-link" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
