<% provide(:title, "全ユーザーの情報を編集") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '編集') %>

<% if current_user.admin? %>
  <div class="container text-center">
    <h1>基本情報の更新</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_with(url: update_all_users_path, method: :patch) do |f| %>

         <%= f.label :指定勤務時間, class: "label-#{yield(:class_text)}" %>
         <%= f.time_field :work_time, class: "form-control" %>

         <%= f.label :基本勤務時間, class: "label-#{yield(:class_text)}" %>
         <%= f.time_field :basic_time, class: "form-control" %>
          
         <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
