<% provide(:title, 'All Users') %>
<% if @search_word.present? %>
  <h1>検索結果</h1>
<% else %>  
  <h1>ユーザー一覧</h1>
<% end %>

 <!-- ユーザー検索フォーム -->
<div class="search-form float-right">
  <%= form_with(url: users_path, method: :get) do |f| %>
    <div class="form-group">
      <%= f.label :search, "ユーザー名で検索" %>
      <%= f.text_field :search, class: "form-control search-input", placeholder: "ユーザー名を入力してください" %>
    </div>
    <%= f.submit "検索", class: "btn btn-primary search-button" %>
  <% end %>
</div>


<div class="clearfix"></div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if current_user.admin? %>
              <%= link_to user.name, user %>
            <% else %>
              <%= user.name %>
            <% end %>
          </td>
          <td class="actions">
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to '基本情報編集', edit_basic_info_user_path(user), data: { turbo_frame: 'modal' }, class: "btn btn-link" %>
             |<%= link_to "削除", user, data: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" }, class: "btn btn-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
