<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <div class="btn-users-show">
       <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-custom" %>
        <span>【<%= l(@first_day, format: :middle) %>】勤怠管理表</span>
       <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-custom" %>
    </div>

    <tr>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
        <th colspan="2">出社</th> <!-- 出社の下に時と分のカラム -->
        <th style="width: 200px;"></th>
        <th colspan="2">退社</th> <!-- 退社の下に時と分のカラム -->
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
      </tr>
       <tr>
        <th>時</th> <!-- 出社の下に時と分のカラム -->
        <th>分</th> <!-- 退社の下に時と分のカラム -->
        <th></th>
        <th>時</th> <!-- 出社の下に時と分のカラム -->
        <th>分</th> <!-- 退社の下に時と分のカラム -->
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
         <td><%= l(day.worked_on, format: :short) %></td>
         <td class="<%= 'blue' if day.worked_on.saturday? %> <%= 'red' if day.worked_on.sunday? %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
         <% if day.started_at %>
         <% started_at_hours = day.started_at.hour %>
         <% started_at_minutes = (day.started_at.min / 15) * 15 %>
          <td><%= started_at_hours %></td>
          <td><%= format('%02d', started_at_minutes) %></td>
         <% else %>
          <td></td>
          <td></td>
         <% end %>
          <td>
           <% if btn_text = attendance_state(day) %>
            <%= link_to "#{btn_text}", user_attendance_path(@user, day), data: { turbo_method: :patch }, class: "btn btn-primary btn-attendance" %>
           <% end %>
          </td>
          <% if day.finished_at %>
          <% finished_at_hours = day.finished_at.hour %>
          <% finished_at_minutes = (day.finished_at.min / 15) * 15 %>
           <td><%= finished_at_hours %></td>
           <td><%= format('%02d', finished_at_minutes) %></td>
          <% else %>
           <td></td>
           <td></td>
          <% end %>
          <td></td>
          <td></td>
       </tr>
      <% end %>
    </tbody>
  </table>
</div>